*
  font-family: var(--font)

.container-categories
  display: flex
  flex-direction: column

.listProducts
  width: 100%
  display: flex
  flex-flow: wrap
  justify-content: space-around

.showProducts
  display: flex
  flex-flow: wrap
  width: 100%
  justify-content: center

.infoProduct
  width: 35%
  background: var(--cards-color)
  border-radius: 30px
  margin: 1rem
  padding: 0.5rem
  display: flex
  flex-direction: column
  align-items: center
  box-sizing: border-box
  justify-content: space-around

img
  width: 50px
  height: 50px
  padding: 15px

.description
  background-color: var(--background-color)
  border-radius: 0 0 30px 30px
  padding: 1rem

.title
  font-size: 16px
  color: #928F8F

.price
  font-weight: boldest
  font-size: 22px

.buttons
  width: 100%
  display: flex
  gap: 10px
  justify-content: center

button[type=submit]
  border-style: none
  width: 80px
  border-radius: 10px
  background-color: #F3F3F3

button[type=submit]:hover
  background-color: var(--principal-color)
  transition: 0.5s

.categories
  width: 30px
  height: 30px
  align-self: center

.amount
  transform: translate(60px, -10px)
  background-color: var(--background-color)
  display: flex
  gap: 5px
  border-radius: 10px
  justify-content: center
  width: 70px

.circle
  border-style: none
  background-color: var(--background-color)

.icon-add
  border-style: none
  color: var(--background-color)

.add-button
  border-style: none
  background-color: var(--principal-color)
  color: var(--background-color)
  border-radius: 15px
  padding: 5px
  font-size: 18px

.iconCart
  display: flex
  justify-content: flex-end
  color: var(--principal-color)

.header
  display: flex
  justify-content: flex-end
  gap: 15px
  padding: 10px
  font-size: 25px

@media only screen and ( min-width: 960px)
  h3
    transform: translate(490px)
    width: 200px
