<div class="container">
  <div class="container-orders">
    <div class="header">
      <fa-icon class="iconCart" [icon]="faShoppingCart" routerLink='/cart'></fa-icon>
      <fa-icon class="iconCart" [icon]="faSignOutAlt" (click)="btnLogOut()"></fa-icon>
    </div>
    <div class="container-categories">
      <h3>Top Categories</h3>
      <div class="buttons">
        <button type="submit" (click)="filterType('electronics')"><img class="categories" src="../../../assets/img/dispositivos.png" alt="electronics"></button>
        <button type="submit" (click)="filterType('jewelery')"><img class="categories" src="../../../assets/img/diamond-ring.png" alt="jewelery"></button>
        <button type="submit" (click)="filterType('men\'s clothing')"><img class="categories" src="../../../assets/img/man.png" alt="men\'s clothing"></button>
        <button type="submit" (click)="filterType('women\'s clothing')"><img class="categories" src="../../../assets/img/dress.png" alt="women\'s clothing"></button>
      </div>
    </div>
    <div class="listProducts">
      <div class="showProducts">
        <div class="infoProduct" *ngFor="let product of items">
          <div class="image">
            <img [src]="product.image" alt="product.title">
          </div>
          <div class="description">
            <h2 class="title">{{product.title }}</h2>
            <h1 class="price">$ {{product.price }}</h1>
          </div>
          <div class="iconAdd">
            <button (click)="addProduct(product)" class="add-button">Add to cart <fa-icon class="icon-add" [icon]="faShoppingCart"></fa-icon></button>
          </div>
        </div>
      </div>
    </div>
  </div>