<div id="formContent">
    <h1>¡Bienvenido a My E-Commerce!</h1>
    <form [formGroup]="form">
      <div>
        <input id="username" type="text" name="username" formControlName="username" autocomplete="off" class="fadeIn second"
          placeholder="usuario">
      </div>
      <div class="passwordGroup">
        <input id="password" type="text" name="password" formControlName="password" class="fadeIn third" placeholder="contraseña">
      </div>
      <div>
        <p *ngIf="error" class="error">{{errorMessage}}</p>
        <input type="submit" class="button" value="Iniciar sesión" (click)="onLogin()">
      </div>
    </form>
  </div>