<section class="section">
  <header class="container-balance">
    <div class="container">
      <fa-icon class="icon" [icon]="faArrowLeft" (click)="changeView()"></fa-icon>
    </div>
  </header>
  <main class="main">
    <section class="product-cards" *ngFor="let item of products">
      <fa-icon class="icon trash" [icon]="faTrashAlt" (click)="modal()"></fa-icon>
      <div class="img-products-container">
        <img class="img-products" src={{item.products.image}} alt="">
      </div>
      <div class="product-info">
        <h1 class="title">{{item.products.title}}</h1>
        <p>Cantidad : {{item.products.quantity}}</p>
        <h1 class="price">$ {{item.products.price}}</h1>
        <div class="amount">
          <button class="circle">
            <fa-icon class="icon-quantity" [icon]="faMinus" (click)="decreaseOneItem(item)"></fa-icon>
          </button>
          <span class="quantity-buttons">{{item.products.quantity}}</span>
          <button class="circle">
            <fa-icon class="icon-quantity" [icon]="faPlus" (click)="increaseOneItem(item)"></fa-icon>
          </button>
        </div>
      </div>
    </section>
    <div class="container-amount">
      <div class="total">
        <p>Total</p>
        <p class="total-amount">$ {{total}}</p>
      </div>
      <div>
        <button class="buy">Buy Now</button>
      </div>
    </div>
  </main>
</section>
<!-- <p *ngIf="total-descuento<0" > s/ {{total-descuento}}</p>
<section *ngIf="myModal==true">
  <section class="modal-section" *ngFor="let product of arrayProducts">
    <div class="modal">
      <p class="text-modal">Se removerá un ítem de tu carrito de compras</p>
      <button class="accept-button" (click)="deleteOrder(product.id); modal()">ACEPTAR</button>
      <button class="cancel-button" (click)="closeModal(false)">CANCELAR</button>
    </div>
  </section>
</section> -->